{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>This is a final project Golang for hacktiv8</p>
	<p>author : Windra Rasyad edited from Blueprint framework</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}